*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: grey;
    background-color: black;
}

.h1-text{
    color: white;
}


.container{
    /* border: 2px solid gray; */
    max-width: 25%;
    margin: 100px auto;
    padding: 2em;
    background-color:rgb(47, 51, 75);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* .inner-container{
    max-width: 75%;
}
  */
.star-icon{
    color: orange;
    /* background-color: orange; */
    max-width: 7%;
  
    border: 0.4em solid #495057;
    border-radius: 50%;
    margin-bottom: 1em;
  
}

.ratings-container{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.number{
    /* border: 2px solid grey; */
    background-color:#495057;
    color:#868e96;
    border-radius: 50%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    margin-right: 1.25em;
    font-size: smaller;
}
a:link{
    color: gray;
    text-decoration: none;
}

a:visited {
    color: white;
    /* background-color:red; */
}

a:hover {
    color: white;
    font-weight: bolder;
    background-color:orange;
     
}
a:active {
    color: white;
  
    background-color:red;
     
}
.button-container{
    margin-top: 2em;
  
    
}

.btn{
    /* padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 5em;
    padding-right: 13em; */
    padding: 1em 8em;
    background-color: orange;
    color: white;
    font-weight: bold; 
    border-radius: 1.3em;
    /* border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em; */
    text-align: center;
}

.btn:active{
    color: orange;
    background-color: white;
}




@media screen and (max-width:1128px) {
    .ratings-container{
         
        display: flex;
        flex-direction: column;
    }
    
    .number{
        /* border: 2px solid grey; */
        text-align: center;
        background-color:#495057;
        color:#868e96;
        border-radius: 50%;
       
      
        text-decoration: none;
        margin-bottom: 1.25em;
        font-size: smaller;
    }

    
}

@media screen and (max-width:1258px) {

   
    .btn{

        padding: 1em 7em;
   
    }
    
}


@media screen and (max-width:1124px) {

   
    .btn{

        padding: 1em 5em;
   
    }
    .star-icon{
        color: orange;
        /* background-color: orange; */
        max-width: 10%;
      
        border: 0.4em solid #495057;
        border-radius: 50%;
        margin-bottom: 1em;
      
    }
    
}



@media screen and  (max-width: 575.98px)
 { 
    .btn{

        padding: 1em 1em;
   
    }
    .star-icon{
        color: orange;
        /* background-color: orange; */
        max-width: 10%;
      
        border: 0.4em solid #495057;
        border-radius: 50%;
        margin-bottom: 1em;
      
    }
    
    
  }

/* // Small devices (landscape phones, less than 768px) */

/* @media screen and  (max-width:780px) { 
    .btn{

        padding:0.5em 10px;
   
    }
 }  */


@media screen and  (max-width:930px) { 
    .btn{

        padding: 1em 2em;
   
    }
 } 

/* // Medium devices (tablets, less than 992px) */
@media screen and  (max-width: 991.98px) { 
    .btn{

        padding: 1em 4em;
   
    }

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }





/* -------------Thank you container----------------- */


.thank-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ph-img{
    margin-bottom: 1em;
}

.rating-text{
    border: 2px solid grey;
    color: orange;
    padding: 0.2em 0.75em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.thank-text{
    color: white;
    font-weight: small;
    letter-spacing:0.1em;
    margin-bottom: 1em;
}

.thank-p-text{
    font-size: 0.95em;
    text-align: center;
}

 

.view-container{
    display: contents;
}

.hide{
    display: none;
}

.hide-container-1{
    display: none;
}